<div class="container">
	<form class="form-signin" name="forgetpassword" ng-submit="submit()">
		<h2 class="form-signin-heading">Fill up your details</h2>
		<div class="form-group" style="padding-top:17px;">
			<input type="text" class="form-control" placeholder="First Name"
			ng-model="firstName" /><br>
			<input type="text" class="form-control" placeholder="Last Name"
			ng-model="lastName" /><br>
			<input type="email" class="form-control"
			placeholder="Email" ng-model="emailId" />
			<div ng-show="isEmailVerified">
				<input type="password" class="form-control" placeholder="New Password"
				ng-model="password" />
			</div>
			<div id="successmessage">
				{{passwordUpdatedMessage1}}<br>{{passwordUpdatedMessage2}}
			</div>
		</div>
		<div ng-show="submitButton">
			<button class="btn btn-large btn-primary" type="submit">Submit</button>
			<div id="errormessage">
				{{errorMessagefordata}}
			</div>
		</div>
		<div ng-show="loginPageButton">
			<a class="btn btn-large btn-success" href="#/login">Lets Login Now</a>
		</div>
	</div>
</form>
</div>
