<div class="container">
<form class="form-signin" name="signup" ng-submit="submit()">
		<h2 class="form-signin-heading">Fill Up details for Sign Up</h2>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="First Name"
			ng-model="firstName" /><br>
			<input type="text" class="form-control" placeholder="Last Name"
			ng-model="lastName" />
			<br> <input type="email" class="form-control"
			placeholder="Email" ng-model="emailId" /><br>
			<input type="password" class="form-control" placeholder="Password"
			ng-model="password" /><br>
			<input type="text" class="form-control" placeholder="Country"
			ng-model="country" /><br>
			<input type="text" class="form-control" placeholder="State"
			ng-model="state" /><br>
			<input type="text" class="form-control" placeholder="City"
			ng-model="city" /><br>			
			<button class="btn btn-large btn-primary" type="submit">Submit</button>

		</div>
	</form>
</div>